.navigation {
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 57px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  left: 0;
}

.navigation-menus {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px 40px;
}

.site-title {
  text-decoration: none;
}

.site-title:visited {
  color: black
}

.new-post-button {
  margin-left: auto;
  text-decoration: none;
}