.footer {
  background-color: #fff;
  bottom: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 47px;
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  left: 0;
}

.footer-menus {
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  text-align: center;
  margin: auto;
  font-size: 12px;
}

.plug {
  color: #03AFFF;
  text-decoration: none;
  font-weight: bold;
}