.options-button {
  cursor: pointer;
}

.modal-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 48px;
  border-bottom: 1px solid #DBDBDB;
}

.modal-button:active {
  background-color: #E5E5E5;
}

.modal-button:focus {
  outline: none;
}

.button-danger {
  color: red;
  font-weight: bold;
}

.button-last {
  border-bottom: 0px;
}