.post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left : 10%;
  margin-right: 10%;
}

.post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}

.post-user-avatar {
  width: 30px;
  height: 30px;
}

.post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-user-nickname {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.post-image-bg {
  background-color: #efefef;
}

.post-image img {
  display: block;
  width: 100%;
}

.post-caption {
  padding: 16px 16px;
}

.post-caption strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.admin-options {
  margin-left: auto;
}

